
		 footer {
			background-color: #222d4a;
			color: #dbdbdb;
			font-size: 20px;
			overflow: hidden;
			margin-top:0px;
			}
			.container p{
			       align:center;
			       padding-top:8px;
				   }
		.navbar-default{
		     background-color:#222d4a;
		}
         .panel-default{
		     background-color:#b1d0ca;
		 }		
		 body{
		     background-color:#db8e4e;
		 }	